<div ng-controller="detailCtrl">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="img/sample-1.jpg">
                    <span class="card-title">{{ detail.name }}</span>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <p class="flow-text">{{ detail.name }}</p>
            <p>{{ detail.about }}</p>
            <p>Open on: <br/><strong>{{ detail.open.days }}</strong> during <strong>{{ detail.open.hours }}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel" ng-repeat="review in detail.reviews">
                <span class="card-title">{{ review.name }} <small>{{ review.createdAt }}</small></span>
                <p> {{ review.message }}</p>
                <p> {{ review.email }}</p>
                <h6>Rate</h6>
                <div class="progress" style="width:45px;">
                    <div class="determinate" style="width: {{ review.rate * 100 }}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="col s12">
            <h1 class="flow-text">Add your review</h1>
            <div class="row">
                <div class="input-field col s12">
                    <select class="browser-default" ng-model="formData.rate">
                        <option value="" disabled selected>Choose Rating</option>
                        <option value="1">Dislike</option>
                        <option value="2">Meh</option>
                        <option value="3">Okay</option>
                        <option value="4">Great</option>
                        <option value="5">Excellent</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="full_name" type="text" ng-model="formData.name" class="validate">
                    <label for="full_name">Full name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" ng-model="formData.email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" ng-model="formData.message" length="120"></textarea>
                    <label for="textarea1">Review</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" ng-click="createReview()" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></button>
            </div>
        </form>
    </div>
</div>
