<div class="row" ng-controller="homeCtrl">
    <div class="col s12">
        <div class="input-field col s6" role="search">
            <input list='arrival' aria-label="Filter" class="validate" type='text' ng-model="query" placeholder="Filter eg Sandwitch" />
            <datalist id="arrival" name="arrival">
                <option></option>
                <option value="sandwitch">Sandwitch</option>
                <option value="pizza">Pizza</option>
            </datalist>
        </div>
    </div>
    <div class="loading" ng-show="!data.length">
        <h2>Loading</h2>
    </div>
    <article class="col s12 m4" ng-repeat="item in data | filter:query | orderBy: name">
        <a href="#/detail/{{ item._id }}">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="img/sample-1.jpg" alt="{{ item.name }} photo">
                </div>
                <div class="card-content">
                    <span class="flow-text teal-text">{{ item.name }}</span>
                </div>
            </div>
        </a>
    </article>
</div>
